
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');
* {  height: 718;
  width:375;
  box-sizing:border-box;
  margin:0;
  padding: 0;
}
@media (min-width: 375px) {
  .desktop-menu {
    display: none;
  }
}
body {
  position: relative;
}
.menu{
 position:absolute;
  left:76.67%;
right:16.67%; 
}
.LOGO{ 
  size: 18px;
  width:75px;
  height: 20px;
  font-family: 'popins';
   font-style: normal;
   font-weight: 700;
   line-height: 15px;
   display: flex;
   align-items:left;
   text-align: center;
   color:#6070FF;
   flex: none;
   order: 0;
   flex-grow: 0;
position: relative;
right: 287px;
top: 20px;
}
.home-section {
  background: url(./assets/images/header-shapes\ mobile.jpg) no-repeat;
  
  top:92px;
  gap:12px;
  padding: 114px,24px,144px,24;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.salutation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  margin-top: -40px;
}
.salutation h2 {
  width: 300px;
  height: 150px;
 font: 'popins'; 
 font-weight:700;
 size: 40px;
line-height: 40px;
  color: #172b4d; 
}
.social-media-links h2{
  font: poppins;
  font-weight: 500;
  size:16px;
  line-height: 24px;
  color: #7F8cFF;
  width:hug (117px);
  height:hug(24px) ;
  gap: 16px;
  position:relative;
  right:60px;   
}
  
.my-ability {
  margin-top:-2.5rem;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding: 0 26px;
  font-family: 'Inter', sans-serif;
  color: #172b4d;
   } 
.social-media-links ul {
  display: flex;
 gap: 2px;
  margin-top: 0.0rem;
  list-style: none;
  justify-content: center;
  width: 170.17px;
  height: 20px;
  position:absolute;
  left: 30px;
}
.social-media-links ul li a {
  text-decoration: none;
}
